/* custom fonts */

@font-face {
    font-family: "bifont";
    src: url(../fonts/bootstrap-icons.woff);
}

@font-face {
    font-family: "Inter-Black";
    src: url(../fonts/Inter-Black.ttf);
}

@font-face {
    font-family: "Source-Regular";
    src: url(../fonts/SourceCodePro-Regular.ttf);
}

@font-face {
    font-family: "Ubuntu-Regular";
    src: url(../fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: "Lobster";
    src: url(../fonts/Lobster-Regular.ttf);
}

/* custom styles / login view */

.c0loginform {
    border-radius: 35px;
    
}

/* custom styles / main view */

.c0header, p {
    font-family: Ubuntu-Regular;
}

.c0titlenav {
    font-family: Inter-Black;
}

.c0titleform {
    border-radius: 50px;
    background-color: #000;
}

.c0titlelogin {
    font-family: Inter-Black;
    font-size: 1.9em;
    color: #ffffff;
}

.c0profile {
    border-radius: 50%;
    border-style: solid;
    border-width: 1.5px;
}


.nav-item {
    font-size: 1.15em;
}

.c0maintitle {
    font-family: Lobster;
    font-size: 4em;
    background: -webkit-linear-gradient(rgb(208, 47, 240), rgb(60, 226, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.c0jumboimage {
    max-width: 600px;
    position: relative;
}

.c0mainimage {
    border-bottom: solid 3px;
}

.c0version {
    font-family: Source-Regular;
    font-size: .7em;
}

.c0product-container {
    height: 180px;
}

.c0product-image {
    width: 185px;
    height: 160px;
}

#c0spacer {
    min-height: 5vh;
}

.c0submit-button {
    background-color: #0275d8;
    border-radius: 15px;
    text-decoration: none;
    color: #ffffff;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 1.2em;
}

.c0offcanvas-button {
    
    text-decoration: none;
    color: #000000;
    border-radius: 5px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 1.2em;
}


.c0offcanvas-exitbutton {
    text-decoration: none;
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
    font-size: 1.2em;
}

.c0offcanvas-exitbutton:hover {
    color: #ffffff;
    border-radius: 5px;
    transition: .15s;
    background-color:  #d9534f;
}


.c0offcanvas-button:hover {
    background-color: #000000;
    color: #ffffff;
    transition: .15s;
}

.c0submit-button:hover {
    color: #ffffff;
}

.c0code {
    font-family: Source-Regular;
}

.c0cart-float {
    background-color: #ffffff;
    border-radius: 100%;
    border-style: solid;
    height: 2.3em;
    width: 2.3em;
    font-size: 2.3em;
    align-items: center;
    text-align: center
}

.c0products-navbar {
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 35px;
}

.c0prod-navbar-active {
    font-size: 1.5em;
}

.c0delivery-link {
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 15px;
    padding: 13px;
    transition: .5s;
}

.c0delivery-link:hover {
    color: #000000;
    background-color: #c3c3c3;
    transition: .5s;
}

.c0product-list a {
    text-decoration: none;
    border-radius: 15px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    transition: .5s;
}

.c0product-list a:hover {
    transition: .5s;
    background-color: #c3c3c3;
}

.c0cart-offcanvas-title {
    font-family: Inter-Black;
    font-size: 1.5em;
}

.c0paybutton {
    background-color: #0275d8 ;
    text-decoration: none;
    color: #ffffff;;
    transition: .3s;
    border-radius: 25px;
}

.c0paybutton:hover {
    background-color: #5cb85c;
    color: #ffffff;
    text-decoration: none;
    transition: .3s;
}

.c0paybutton-text {
    text-align: center;
    font-family: Inter-Black;
    font-size: 1.2em;
    padding-top: 10px;
}

.c0deliv-title {
    font-family: Inter-Black;
    font-size: 1.6em;
}

.c0deliv-search {
    background-color: #000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px 20px;
    text-align: center;
    transition: .3s;
}

.c0deliv-search:hover {
    color: #000;
    background-color: #ffffff;
    box-shadow: 5px 10px 10px #c3c3c3;
    transition: .3s;
}

.c0del-subtitle {
    font-weight: bold;
    font-size: 1.25em;
}